.card{
    display: inline-block;
    width: 200px;
    height: 30px;
    background-color: white;
}

.container{
    height: 600px;
    background-color: antiquewhite;
    text-align: center;
}

.row{
    justify-content: space-evenly;
    margin-top: 30px;
}

h1{
    padding-top: 100px;
    margin-bottom: 50px;
}